article{
    margin-top: 35px;
}

.h3Art{
    margin-bottom: 3px;
    text-transform: uppercase;
}

.spanArt{
    margin: 10px 0;
    font-size: 12px;
}

.pArt{
    font-size: 19px;
}

@media(orientation: portrait) and (max-width: 415px) {

    .page h1{
        font-size: 15px;
    }

    .page .h3Art{
        font-size: 12px;
    }

    .page .pArt{
        font-size: 10px;
    }

    .page .spanArt{
        font-size: 8px;
    }

    .page a{
        font-size: 12px;
    }
}
