.characters h2{
    margin-bottom: 20px;
}

.characters ul{
    list-style: square;
    padding-left: 30px;
}

.characters li{
    margin-bottom: 20px;
}

.characters a{
    text-decoration: none;
    color: #333;
}

.characters a:hover{
    text-decoration: underline;
    color: #000;
}

.charLists{
    display: flex;
    flex-direction: row;
}

.charList{
    margin-right: 250px;
}

.infoP{
    font-size: 10px;
}


@media(orientation: portrait) and (max-width: 415px) {

    .characters{
        width: 200px;
    }

    .characters h2{
        font-size: 17px;
    }

    .characters li{
        font-size: 15px;
    }

    .charLists{
        flex-direction: column;
    }

    .infoP{
        font-size: 6px;
    }
}

@media(orientation: portrait) and (max-width: 768px) {
    .charLists{
        flex-direction: column;
    }
}

@media(orientation: landscape) and (max-width: 1024px) {
    .charList{
        margin-right: 90px;
    }
}

@media(orientation: landscape) and (max-width: 812px) {

    .characters h2{
        font-size: 19px;
    }

    .characters li a{
        font-size: 15px;
    }

    .charList{
        margin-right: 50px;
    }

}