.character h1{
    margin: 20px auto;
}

.character p{
    margin: 20px auto;
}

.character span{
    font-style: italic;
}

@media(orientation: portrait) and (max-width: 415px) {
    .character p{
        font-size: 12px;
    }

    .character a{
        font-size: 12px;
    }
   
}