.footer p{
    font-size: 14px;
    text-align: center;
    color: #CFCFEF;
}

.footer span{
    font-style: italic;
    text-transform: none;
}

@media(orientation: portrait) and (max-width: 415px) {

    .footer p{
        font-size: 8px;
    }
}

@media(orientation: landscape) and (max-width: 812px) {

    .footer p{
        font-size: 10px;
    }
}