.god h1{
    margin: 20px auto;
}

.god p{
    margin: 20px auto;
}

.god span{
    font-style: italic;
}

@media(orientation: portrait) and (max-width: 415px) {
    .god p{
       font-size: 12px;
    }
}

@media(orientation: landscape) and (max-width: 812px) {
    .god p{
       font-size: 12px;
    }
}