.allGods div{
    display: flex;
    flex-direction: row;
}

div.olympGods{
    height: 100%;
    width: 50%;
    flex-grow: 0;
    display: inline-block;
}

div.titanGods{
    height: 100%;
    width: 50%;
    flex-grow: 1;
    display: inline-block;
}

.allGods h2{
    margin-bottom: 20px;
}

.allGods ul{
    list-style: square;
    padding-left: 30px;
}

.allGods li{
    margin-bottom: 20px;
}

.allGods a{
    text-decoration: none;
    color: #333;
}

.allGods a:hover{
    text-decoration: underline;
    color: #000;
}