.allGods div{
    display: flex;
    flex-direction: row;
}

div.olympGods{
    height: 100%;
    width: 50%;
    flex-grow: 0;
    display: inline-block;
}

div.titanGods{
    height: 100%;
    width: 50%;
    flex-grow: 1;
    display: inline-block;
}

.allGods h2{
    margin-bottom: 20px;
}

.allGods ul{
    list-style: square;
    padding-left: 30px;
}

.allGods li{
    margin-bottom: 20px;
}

.allGods a{
    text-decoration: none;
    color: #333;
}

.allGods a:hover{
    text-decoration: underline;
    color: #000;
}

@media(orientation: portrait) and (max-width: 415px) {

    .allGods div{
        flex-direction: column;
    }

    div.olympGods{
       font-size: 12px;
    }
    
    div.titanGods{
       font-size: 12px;
    }

    div.olympGods h2{
        font-size: 13px;
        margin-bottom: 25px;
     }
     
     div.titanGods h2{
        font-size: 13px;
        margin-bottom: 10px;
        margin-left: 15px;
     }
}

@media(orientation: landscape) and (max-width: 1024px) {
    div.olympGods h2{
        margin-bottom: 40px;
     }
}

@media(orientation: landscape) and (max-width: 812px) {

    div.olympGods h2{
        font-size: 18px;
        margin-bottom: 20px;
     }
     
     div.titanGods h2{
        font-size: 18px;
     }

     div.olympGods li a{
        font-size: 16px;
       
     }
     
     div.titanGods li a{
        font-size: 16px;
     }
}