nav.main{
    padding: 0 30px 30px 0;
}

.main ul{
    list-style: none;
}

.main a{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    padding: 10px;
    transition: 0.2s;
}

.main a:hover{
    transform: translateX(20px);
}

.main a.active{
    border-left: 10px gray solid;
    transform: translateX(0);
}

.main li:nth-child(1) a.active{
    border-left-color: red;
    transform: translateX(0);
}

.main li:nth-child(2) a.active{
    border-left-color: green;
    transform: translateX(0);
}

.main li:nth-child(3) a.active{
    border-left-color: blueviolet;
    transform: translateX(0);
}

.main li:nth-child(4) a.active{
    border-left-color: blue;
    transform: translateX(0);
}


@media(orientation: portrait) and (max-width: 415px) {

    nav ul{
        font-size: 13px;
    }

    .main a.active{
        border-left: 5px gray solid;
    }
}

@media(orientation: portrait) and (max-width: 600px) {

    nav ul{
        font-size: 13px;
    }

    .main a.active{
        border-left: 5px gray solid;
    }
}

@media(orientation: landscape) and (max-width: 812px) {

    nav ul{
        font-size: 15px;
    }

    .main a.active{
        border-left: 5px gray solid;
    }
}